<div class="body">
  <div class="form-box">
    <h1>ZigZag Converter</h1>
    <mat-form-field class="word">
      <mat-label>Word:</mat-label>
      <input
        matInput
        [(ngModel)]="inputString"
        (ngModelChange)="convert()"
        type="text"
      />
    </mat-form-field>

    <mat-form-field class="numrows">
      <mat-label>NumRows:</mat-label>
      <input
        matInput
        [(ngModel)]="numRows"
        (ngModelChange)="convert()"
        type="number"
      />
    </mat-form-field>

    <mat-form-field class="result">
      <mat-label>Result:</mat-label>
      <input matInput [(ngModel)]="result" readonly />
    </mat-form-field>
  </div>
</div>

<br />

<div *ngIf="inputString" class="form-box-explanation">
  <div>
    <table>
      <tr *ngFor="let row of zigzag">
        <td *ngFor="let element of row">{{ element }}</td>
      </tr>
    </table>
  </div>
</div>

<!-- PAYPALISHIRING -->
<!--
P				A				H				N
A		P		L		S		I		I		G
Y				I				R
-->
