mat-form-field {
  width: 100%;
}

mat-label {
  font-weight: bold;
}

mat-button {
  margin-top: 20px;
}

.form-box {
  width: 50%;
  height: 600px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.726);
  padding: 3%;
  border-radius: 20px;
}

.body {
  margin-top: 2%;
}

.result {
  font-weight: 600;
  color: brown;
}

table {
  width: 100%;
  display: block;
}
