<div class="body">
  <div class="form-box">
    <h1>ZigZag Converter</h1>
    <mat-form-field class="word">
      <mat-label>Word:</mat-label>
      <input
        matInput
        [(ngModel)]="inputString"
        (ngModelChange)="convert()"
        type="text"
      />
    </mat-form-field>

    <mat-form-field class="numrows">
      <mat-label>NumRows:</mat-label>
      <input
        matInput
        [(ngModel)]="numRows"
        (ngModelChange)="convert()"
        type="number"
      />
    </mat-form-field>

    <mat-form-field class="result">
      <mat-label>Result:</mat-label>
      <input  matInput [(ngModel)]="result" readonly>
    </mat-form-field>

    <h5>Output:</h5>
    <div class="grid-container">
      <div *ngFor="let element of zigzag" class="grid-item">{{element}}</div>
    </div>
  </div>
</div>
