mat-form-field {
  width: 100%;
}

mat-label {
  font-weight: bold;
}

mat-button {
  margin-top: 20px;
}

.form-box {
  width: 50%;
  height: auto;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.726);
  padding: 3%;
  border-radius: 20px;
}

.body {
  margin-top: 2%;
}

.result {
  font-weight: 600;
  color: brown;
}

.form-box-explanation {
  width: 50%;
  height: auto;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.726);
  padding: 3%;
  border-radius: 20px;
}

.explanation {
  padding: 10px;
  margin-top: 10px;
}

td {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  text-align: center;
  cursor: pointer;
}

td.marked {
  background-color: yellow;
}
